<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/cliente3b/src/main/resources/static/style.css">
</head>
<body>
    <div class="divForm">
        <h1 class="titleDiv">Cadastrar Usuario</h1>
        <span th:text="${nome}" style="color: black;"></span>
        <div>
            <form action="">
                <div class="inputNomeDiv">
                    <label class="textLabel" for="">Nome</label>
                    <input class="inputNome" type="text">
                </div>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>